# Entorno virtual de Python
venv/
*.pyc
__pycache__/

# Configuración específica del sistema
*.log
.DS_Store
.env

# Archivos de desarrollo específicos de VSCode
.vscode/
.idea/

# Caché de pip
pip-wheel-metadata/
*.egg-info/
